$orangered: #ffb599;
$lightskyblue: #9fd8fb;
$thistle: #ceafce;

body {
  font-family: Roboto, 'Helvetica Neue', 'Open Sans', sans-serif;
  line-height: 1.65;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0 0 5px;
}

a,
a:visited {
  color: rgb(0, 0, 238);
}
a:hover {
  color: darken(rgb(0, 0, 238), 10);
}
a:hover {
  color: darken(rgb(0, 0, 238), 10);
}
a:focus-within {
  color: darken(rgb(0, 0, 238), 20);
}
a:active {
  color: darken(rgb(0, 0, 238), 15);
}

.json {
  white-space: pre-line;
  border: 2px solid black;
  border-radius: 2px;
  margin: 5px 0;
  padding: 5px;
}

.post {
  /* Blue */
  background: $lightskyblue;
}

.user {
  /* Orange */
  background: $orangered;
}

.comments {
  /* Purple */
  background: $thistle;
}
